.footer-outside-container{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Footer-Header{
    width: 100%;
    height: 50px;
    background-color: #103523;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
    font-family: 'Homemade Apple', cursive;
}

.Footer-body{
    padding-bottom: 50px;
    background: linear-gradient(90deg, #0F6239 0%, #1FC874 180%);
    width: 100%;
    padding-left: 30px;
    display: flex;

}

ul{
    color: white;
}

.footer-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s ease-in-out all;
    font-family: 'poppins', sans-serif;
}

.footer-link:hover{
    border-bottom: solid 2px rgb(247, 247, 247);
}

.Footer-body h4{
    font-size: 26px;
    padding-left: 20px;
    color: white;
}

.Footer-body p{
    font-size: 20px;
}

@media (max-width: 768px) {
.footer-outside-container{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
}

    .Footer-body{
        flex-direction: column;
        gap: 30px;
        padding-bottom: 50px;
    }
}