.nav-left{
    width: 200px;
    height:100%;
    background-color: #0D4629;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-right: solid 3px white;
    z-index: 9999;
}

.nav-left h1{
    color: white;
    font-family: 'Homemade Apple', cursive;
    font-size: 24px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: solid 3px white;
    border-bottom: solid 3px white;
    background-color: #1b6941;
    padding:0;
    margin: 0;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-family: "Patrick Hand", cursive;
    font-size: 25px;
    font-weight: 300;
    padding: 15px 20px;
    border-bottom: solid 1px white;
    transition: background-color 0.3s ease;
}

.nav-link:hover{
    background-color: #f27984;
}

@media (max-width: 768px) {
 .nav-left{
    display: none;
 }
}