.push-pin-container{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.push-pin-head{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(241, 43, 43);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}