.add-wishlist-page {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Main content area (to the right of NavLeft) */
.main-wishlist-container {
  position: relative;
  z-index: 0; /* keeps it behind nav + top bar */
  padding-top: 100px;           /* clears space for TopBar */
  padding-left: 230px;          /* clears space for NavLeft */
  width: calc(100% - 230px);
  min-height: calc(100vh - 100px);
  background: linear-gradient(270deg, #0F6239 40%, #1FC874 140%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Header-Container-add-WL {
  margin-left: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  z-index: 0;
}

.Header-Container-add-WL h2 {
  font-family: 'Handlee', cursive;
  color: rgba(255, 255, 255, 0.9);
  font-size: 30px;
}

.Add-Wishlist-List-Container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 15px;
  gap: 24px;
  margin-left: 50px;
}

.Add-WL-Box {
  width: 600px;
  background-color: #0D4629;
  border: 5px solid #f27984;
  border-radius: 15px;
  padding: 32px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 140px;
  position: relative;
  z-index: 1;
}

.wishlist-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group label {
  font-family: 'Handlee', cursive;
  color: #fff;
  font-size: 18px;
  margin-bottom: 4px;
}

.form-group input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 10px 0;
  color: #fff;
  outline: none;
  font-size: 1rem;
}

.add-wishlist-btn {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  background: #1f76c8;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Handlee', cursive;
  font-size: 18px;
  transition: background 0.2s ease-in-out;
}

.add-wishlist-btn:hover {
  background: #155896;
}

@media (max-width: 768px) {
  .add-wishlist-page{
    min-width: none;
    height: calc(100vh - 40px);
    background-color: #0D4629;
  }

  .main-wishlist-container {
    padding-top: 0;;
    padding-left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #0D4629;
    background: none;
  }

  .Header-Container-add-WL {
    margin-left: 20px;
    width: 100%;
    background-color: #062515;
    border-bottom: 3px solid white;
    border-radius: 0 0 20px 20px;
    margin: 0;
    displaty: flex;
    justify-content: center;
    align-items: center;
  }

  .Add-Wishlist-List-Container {
    flex-direction: column;
    margin-left: 0;
    width: 95%;
  }

  .Add-WL-Box {
    width: calc(100% - 40px);
    padding: 24px 20px;
  }
}