.add-listing-main-content{
    width: calc(100% - 200px);
    height: calc(100% - 100px);
      background: linear-gradient(270deg, #0F6239 40%, #1FC874 140%);

    position: fixed;
    top: 100px;
    left: 200px;
    padding-left: 100px;
    padding-top: 50px;
}

.listing-form-containter{
    width: 50%;
    height: 80%;
    background-color: #0D4629;
    overflow-y: auto;
    outline: 5px solid #f27984;
    border-radius: 15px;

}

.listing-form-containter::-webkit-scrollbar{
    background-color: #f27984;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.listing-form-containter::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 15px;
}

.listing-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
    gap: 20px;
    color: white;
    outline: 5px solid #f27984;
    box-sizing: border-box;
}

.listing-form input{
    text-decoration: none;
    border: none;
    width: 80%;
    height: 30px;
    font-size: 18px;
    padding: 5px;
    background-color: transparent;
    color: white;
    border-bottom: 2px solid white;
}

.listing-form input::placeholder{
    color: rgb(197, 192, 192);
}

.listing-form textarea{
    text-decoration: none;
    border: none;
    width: 80%;
    height: 100px;
    font-size: 18px;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.listing-form label{
    font-size: 25px;
}

.listing-form button{
    width: 150px;
    height: 50px;
    background-color: #1f76c8;
    color: white;
    font-family: "arial", sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

::selection {
  background: #007bff;
  color: white;
}

@media (max-width: 768px){
    .add-listing-main-content{
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #0F6239 40%, #1FC874 140%);
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-top: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    }

.listing-form-containter{
    width: 90%;
    height: 70%;
    background-color: #0D4629;
    overflow-y: auto;
    outline: 5px solid #f27984;
    border-radius: 15px;
}

.listing-form{
    padding: 50px 10px 50px 10px;
}

.listing-form input{
    width: 100%
}

.listing-form textarea{
    width: 100%;
}

}