.Main-container-isdsearch {
    padding-top: 50px;                      
    padding-left: 210px;                     
    width: calc(100% - 210px);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    background: #155d38;
    overflow: hidden;
    z-index: 0;
}

#Search-box-isdsearch{
    width: 400px;
    height: 500px;
    padding-top: 20px;
    background-color: #0D4629;
    margin-bottom: 0;
}

.isd-results-container{
    width: 90%;
    height: 250px;
    background-color: #155d38;
    border: solid 1px white;
    border-radius: 20px;
    overflow-y: auto;
    scrollbar-color: white transparent;
}

.isd-item{
    width: 70%;
    height: auto;
    border-bottom: solid 1px white;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
}

.isd-item:hover{
    background-color: #f27984;
    color: black;
    border-radius: 20px;;
}

.mobile-top-greeting-isdsearch{
    display: none;
}

  @media (max-width: 768px){
    body{
        background-color: #155d38;
    }
    .mobile-top-greeting-isdsearch{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-left: 80px;
        border-radius: 0 0 20px 20px;
        border-bottom: solid 3px white;
        background-color: #062515;
    }

    .mobile-top-greeting-isdsearch h2{
        font-family: 'Handlee', cursive;
        color: white;
        font-size: 28px;
    }

    .Main-container-isdsearch{
        height: 100vh;
        width: 100vw;
        padding: 0;
        display: flex;
        align-items: center;
    }

    #Search-box-isdsearch{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .Search-input-isdsearch{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        border: solid 3px #F8ca30;
        border-radius: 20px;
        padding: 10px;
    }

    .Search-results-isdsearch{
        width: 95%;
    }

    .isd-results-container{
        width: 100%;
        border: solid 3px #f27984;
        width: 100%;
    }



  }