body {
  padding-top: 60px; /* adjust to your navbar height */
}

.landing-first-container{
    width: 100%;
    height: auto;
    padding: 0 0 100px 0;
    background: linear-gradient(270deg, #0F6239 40%, #1FC874 140%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Landing-Logo{
    display: block;
    width: 500px;
    padding-top: 50px;
}

.curve-line{
  height: calc(80vh - 200px);
  width: auto;
  display: block;
  margin: 0 40px;
}

.landing-quote h1 {
  font-family: "Winky Rough", sans-serif;
  color: white;
  font-size: 45px;
}

.landing-quote{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-right: 75px;
}

.landing-quote-subtext{
    width: 450px;
    height: 200px;
    background-color: #0D4629;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: solid white 5px;
    border-radius: 15px;
    transform: rotate(-5deg);
    color: white;
    padding: 0 20px 0 20px;
    font-family: 'Handlee', cursive;
}

.BrowseListingsButton{
    width: 200px;
    margin-top: 40px;
    font-family: 'Handlee', cursive;
    font-size: 24px;
    padding: 10px 20px;
    border: 5px solid #F8ca30;
    border-radius: 15px;
    cursor: pointer;
    background-color: #0D4629;
    color: white;
    margin-right: 60px;
}

.PostListingsButton{
    width: 200px;
    margin-top: 40px;
    font-family: 'Handlee', cursive;
    font-size: 24px;
    padding: 10px 20px;
    border: solid 5px #f27984;
    border-radius: 15px;
    cursor: pointer;
    background-color: #0D4629;
    color: white;
}

.Landing-Goal{
    margin-left: 300px;
    width: 80px;
}

.Landing-Books{
    margin-bottom: 100px;
}

.bullitenBoard{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #c39356;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%422D13' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    position: relative;
}

.bullitenDivider{
    width: 100%;
    height: 30px;
    background-color: #363c91;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23faf7fe' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.bullitenBorderL{
    position: absolute;
    top: 0px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #363c91;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23faf7fe' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.bullitenBorderR{
    position: absolute;
    top: 0px;
    right: 0;
    width: 30px;
    height: 100%;
    background-color: #363c91;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23faf7fe' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.PostitHeader{
    width: 100%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

.PostitHeaderSub{
    width: 100%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
}

.postItText{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.postIt1{
    width: 400px;
    height: 250px;
    background-color: #F8ca30;
    transform: rotate(-5deg);
    margin-left: 25%;
    margin-top: 50px;
}

.postIt2{
    width: 300px;
    height: 300px;
    background-color: #F8ca30;
    transform: rotate(-5deg);
    padding: 5px;
}

.postItContainer{
    width: calc(100% - 120px);
    height: auto;
    margin: 50px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 40px 30px;
    display: flex;
    align-items: center;
}

.pushPinTop{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20px;
    align-items: center;
    margin-top: 5px;
}

.postItImage{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#postItGreen{
    background-color: #2EDF2E;
    transform: rotate(-2deg);
    padding-bottom: 30px;
}

#postItBlue{
    background-color: #2EDFD0;
    transform: rotate(5deg);
}

#postItPink{
    background-color: #FF8490;
    transform: rotate(-5deg);
}

.WhiteBoard{
    width: 100%;
    padding: 50px 0 100px 0;
    height: auto;
    background-color: rgb(234, 234, 234);
    box-sizing: border-box;
    border: 30px solid grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.HowItWorks{
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
    width: 450px;
    height: 100px;
    margin-top: 50px;
    text-align: center;
    box-shadow:
    inset 0 0 0 6px rgba(0, 0, 0, 0.9),
    inset 0 0 10px rgba(0, 0, 0, 0.5),
    inset 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 1rem;
    filter: blur(0.2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepsIconsContainer{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.StepsContainer{
    width: 100%;
    height: auto;
    padding: 0px 0 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Step{
    width: 400px;
    height: 300px;
    border-radius: 15px;
    box-shadow:
    inset 0 0 0 6px rgba(255, 0, 0, 0.9),
    inset 0 0 10px rgba(255, 0, 0, 0.5),
    inset 0 0 20px rgba(255, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Step p{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    text-align: center;
    padding: 0 20px 0 20px;
}

#middle-step{
    box-shadow:
    inset 0 0 0 6px rgba(0, 0, 255, 0.9),
    inset 0 0 10px rgba(0, 0, 255, 0.5),
    inset 0 0 20px rgba(0, 0, 0, 0.2);
}

#last-step{
    box-shadow:
    inset 0 0 0 6px rgba(255, 0, 255, 0.9),
    inset 0 0 10px rgba(255, 0, 255, 0.5),
    inset 0 0 20px rgba(255, 0, 0, 0.2);
}

.ReportCard{
    width: 100%;
    height: auto;
    background-color: #E0D2A3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 30px 0;
    margin: 0;
    gap: 0;
}

.rcLogo{
    padding: 0;
    margin: 0;
    width: 300px;
}

.ReportCardHeader{
    font-size: 50px;
    font-family: "Georgia", serif;
}

table {
  width: 700px;
  border-collapse: collapse;
  margin: 0;
  font-size: 1rem;
}

th, td {
  border: 3px solid black;
  padding: 12px 16px;
  text-align: center;
  font-size: 30px;
  font-family: "Georgia", serif;
}

th {
  font-weight: 600;
}

.subjectData{
    width: 550px;
}

.reportCardText{
    font-family: 'Caveat', cursive;
    font-size: 70px;
}

.Landing-Goal-mobile{
    display: none;
}

#reportCardButton1{
    background-color: #F1D473;
    color: black;
    border: red solid 5px;
}

#reportCardButton2{
    background-color: #F1D473;
    color: black;
    border: blue solid 5px;
}


@media (min-width: 768px) and (max-width: 991px) {
.Landing-Goal-mobile{
    display: block;
}

.curve-line{
  display: none;
}

.landing-images-container{
    display: none;
}

.landing-first-container {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-top: 60px;
}

svg{
    display: none;
}

.landing-quote{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 70px 0;
    padding: 0;
    gap: 10px;
}

.landing-quote-subtext{
    width: 400px;
    height: 150px;
}

.bullitenBoard{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.postIt1{
    width: 400px;
    height: 200px;
    background-color: #F8ca30;
    transform: rotate(-5deg);
    margin-top: 50px;
    margin-left: 0;
}

.postIt2{
    width: 300px;
    height: 200px;
    background-color: #F8ca30;
    transform: rotate(-5deg);
}

.postItContainer{
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.stepsIconsContainer{
    display: none;
}

.StepsContainer{
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.WhiteBoard{
    gap: 50px;
}

.HowItWorks{
    width: 500px;
}

table{
    width: 90%;
}

.ReportCard{
    padding: 50px 0 100px 0;
}
}

@media (max-width: 768px){

    .landing-quote h1{
        font-size: 30px;
        width: calc(100vw - 10px);
        text-align: center;
    }
    .Landing-Goal-mobile{
        display: block;
    }

    .curve-line{
    display: none;
    }

    .landing-images-container{
        display: none;
    }

    .landing-first-container {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 60px 0 0 0;
    }

    .landing-quote-subtext{
        font-size: 20px;
    }

    svg{
        display: none;
    }

    .landing-quote{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 70px 0;
        padding: 0;
        gap: 10px;
    }

    .landing-quote-subtext{
        width: 60%;
        height: auto;
    }

    .BrowseListingsButton{
        width: 40%;
    }

    .PostListingsButton{
        width: 40%;
    }

    .bullitenBoard{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .postIt1{
        width: calc(90% - 60px);
        height: 200px;
        background-color: #F8ca30;
        transform: rotate(-5deg);
        margin-top: 50px;
        margin-left: 0;
    }

    .postIt2{
        width: 300px;
        height: 200px;
        background-color: #F8ca30;
        transform: rotate(-5deg);
    }

    .postItContainer{
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
    }

    .stepsIconsContainer{
        display: none;
    }

    .StepsContainer{
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }

    .WhiteBoard{
        gap: 50px;
    }

    .Step{
        width: 90%;
        height: auto;
    }

    .HowItWorks{
        width: auto;
        font-size: 30px;
    }

    table{
        width: 90%;
    }

    .ReportCard{
        padding: 50px 0 100px 0;
    }
}

