
body {
  padding-top: 60px;  
  background-color: #0D4629;
}

.login-container {
  display: flex;
  height: calc(100vh - 100px);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(270deg, #0F6239 40%, #1FC874 140%);
  gap: 48px;
}

.login-logo-quote-container{
    margin-top: 30px;
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
}

.login-logo {
  display: block;
  width: 500px;
  height: auto;
}

.login-quote h1 {
  font-family: "Winky Rough", sans-serif;
  color: white;
  font-size: 41px;
  margin-bottom: 100px;
}

.login-quote{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-right: 75px;
}


.login-form{
    width: 300px;
    margin-top: 40px;
    font-family: 'Handlee', cursive;
    font-size: 24px;
    padding: 10px 40px;
    border: 5px solid  whitesmoke;
    border-radius: 15px;
    cursor: pointer;
    background-color: #0D4629;
    color: white;
    margin-right: 60px;
    margin-left: 30px;
}

.login-form input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
}

.login-form input::placeholder {
  color: #fff;
  opacity: 0.7;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background: #f27984AA;
  color: white;
  border: 5px solid #f27984;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}

.signup-redirect{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 8px;
    font-size: 18px;
  }

  @media (max-width: 768px){
    .login-container {
        flex-direction: column;
        padding-bottom: 50px;
        height: calc(100vh - 90px);
        background: #0F6239;

    }

    .login-logo-quote-container{
        display: none;
    }

    .login-form{
        width: 85%;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 20px;
        border: none;
        background: transparent;
    }

    .login-form input {
      all: unset;
      text-decoration: none;
      background: transparent;
      background-color: transparent !important;
      border-radius: 6px;
      border: 2px solid white;
      padding: 10px 0 0 10px;
      margin-bottom: 50px;
      width: calc(100% - 20px);
      outline: none;
      font-size: 1rem;
    }

  }
