.Main-container {
    padding-top: 50px;                      
    padding-left: 210px;                     
    width: calc(100% - 100px);
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    background: linear-gradient(270deg, #0F6239 40%, #1FC874 140%);
    overflow: hidden;
    z-index: 0;
}

.chat-name-container {
    margin-left: 50px;
    display: flex; 
    align-items: center; 
    gap: 12px;
}

.chat-name-container h1 {
    font-family: 'Handlee', cursive;
    color: rgba(255, 255, 255, 0.858);
    font-size: 30px;
}

.chat-box-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5px;
    gap: 24px;
}

.Chat-box{
    width: 800px;
    height: 400px;
    background-color: #0D4629;
    border: 5px solid #f27984;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 12px 16px;
    gap: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* enable vertical scrolling */
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    margin-left: 40px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.Chat-box::-webkit-scrollbar {
    display: none; 
}

.chat-input-container {
    display: flex;
    gap: 8px;
    margin-top: auto;
}

.chat-input-container input {
    flex: 1;
    padding: 10px;
    color: white;
    border: 2px solid #040726;
    background-color: #042607;
    border-radius: 8px;
    font-size: 16px;
}

.chat-input-container button {
    padding: 10px 16px;
    background-color: #1FC874;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}