.Main-container {
    padding-top: 50px;                      
    padding-left: 210px;                     
    width: calc(100% - 100px);
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    background: linear-gradient(270deg, #0F6239 40%, #1FC874 140%);
    overflow: hidden;
    z-index: 0;
}

.chat-name-container {
    margin-left: 100px;
    display: flex; 
    align-items: center; 
    gap: 12px;
}

.chat-name-container h1 {
    font-family: 'Handlee', cursive;
    color: rgba(255, 255, 255, 0.858);
    font-size: 30px;
}

.chat-box-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5px;
    gap: 24px;
    height: auto;
    margin-left: 100px;
}

.Chat-box {
    width: 400px;
    height: 500px;
    background-color: #0D4629;
    border: 5px solid #f27984;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Scrollable messages container */
.messages-container {
    flex: 1; /* take up available space */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 5px;

}

.messages-container::-webkit-scrollbar {
    display: none; /* hide scrollbar */
}

/* Chat input fixed at bottom of Chat-box */
.chat-input-container {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.chat-input-container input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 8px;
    font-size: 16px;
    color: white;
    background-color: #042607;
}

.chat-input-container button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-input-container button:hover {
    background-color: #45a049;
}

/* Message bubbles */
.my-message {
    background-color: #d1ffd1;
    padding: 12px;
    border-radius: 10px;
    margin: 8px 0;
    max-width: 70%;
    align-self: flex-end; 
    text-align: right;
}

.their-message {
    background-color: #eaeaea;
    padding: 12px;
    border-radius: 10px;
    margin: 8px 0;
    max-width: 70%;
    align-self: flex-start;
    text-align: left;
}

@media (max-width: 768px) {
  .Main-container {
    width: 100%;
    height: calc(100vh);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;


  }

  .chat-name-container {
    margin-left: 0;
  }

  .chat-box-container {
    flex-direction: column;
    margin-left: 0;
    gap: 16px;
    width: 100%;
    align-items: center;
  }

  .Chat-box {
    width: 90vw;
    height: 60vh;
    padding: 10px;
  }
}
